body {
  background-color: red;
}

form {
  background-color: darkslategrey;
  margin: 15px;
  padding: 20px;
}

button {
  padding: 20px;
  margin: 30px;
  box-sizing: border-box;
}

p {
  font-size: larger;
  background-color: gainsboro;
}

