body {
  background-color: red;
}

form {
  background-color: lightyellow;
}

button {
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
}

p {
  font-size: larger;
  background-color: gainsboro;
}